<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:object="${chatForm}" method="POST" th:action="@{/chat}">
    <label for="username">Username:</label>
    <input id="username" type="text" th:field="*{username}">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text"th:field="*{messageText}">
    <label for="messageType">Message Type: </label>
    <select th:field = "*{messageType}" id="messageType">
        <option value=""></option>
        <option th:each="message : ${messages}"
                th:value="${message}"
                th:utext="${message}"/>
    </select>
    <input type="submit">
</form>
<div th:each="chatMessage : ${chatMessages}">
    <span th:text="${chatMessage.username}">Username</span>: <span th:text="${chatMessage.message}">Username</span>
</div>

</body>
</html>
